/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, #global-container {
    height: 100%;
    width: 100%;
}

canvas{
    border: 4px solid black;
}

canvas, #canvas-container{
    border-radius: 12px;
}

#canvas-container{
    background-color: white;
}

#canvas-container.shadow-mode{
    background-color: cornsilk;
}

#global-container {
    background-color: white;
    padding: 2rem;
}

.shape-button {
    padding: 1rem;
}

.shape-button > svg {
    width: 2rem;
}

#toggle-shadow-btn.shadow-mode > svg {
    fill: cornsilk;
    stroke: black;
}

#global-container.shadow-mode {
    background-color: dimgray;
}

#toggle-shadow-button, canvas, #global-container {
    transition: all 400ms;
}