.TreeEditor {
  text-align: center;
}

.syntaxTreeContainer {
  width: 90%;
}

.syntaxTree {
  width: 100%;
  height: auto;
}

.syntaxTreeLabel {
  font: bold 0.25rem sans-serif;
  fill: #74c7ec;
}

.lexicalItemLabel {
  font-weight: normal;
  fill: #fab387;
}

.syntaxTreeLink {
  stroke: #6c7086;
  stroke-width: 0.5;
  stroke-linecap: round;
}
